frontend/node_modules
.idea
.idea/
__pycache__
__pycache__/
apps/__pycache__
apps/__pycache__/
apps/base_config/__pycache__
apps/base_config/__pycache__/
apps/base_config/migrations/__pycache__
apps/cases/__pycache__
apps/cases/__pycache__/
apps/cases/migrations/__pycache__
apps/users/__pycache__
apps/users/migrations/__pycache__
extra_apps/xadmin/__pycache__
